.cartitem {
  margin: 3rem auto;
  width: 75%;
  max-width: 75rem;
  min-width: 20rem;
  border-radius: 6px;
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: black;
}

.cartitem img {
  max-width: 60%;
  min-width: 18rem;
}
