.footer {
  width: 100%;
  height: 5rem;
  background-color: #3bc472;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #216e40;
}

.footer p {
  font-weight: bold;
  font-size: 1rem;
}

.footer h3 {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .footer {
      min-width: 408px;
    }
}
