.button {
    cursor: pointer;
    border: none;
    background-color: #4ae97f;
    color: #216e41;
    padding: 0.75rem 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: border-color 0.05s linear;
    min-width: 40px;
    margin-right: 1px;
  }
  
  .button:hover {
    border-bottom: 3px solid #216e4a;
  }
  
  .button:active {
    color: white;
    background-color: #216e38;
  }
  